body {
    margin: 40px 40px;
    padding: 10px 20px;
    max-width: 650px;
    line-height: 1.6;
}

nav {
    margin: 
}

ul {
    font-family: 'Roboto';
    font-style: normal;
    list-style-type: none;
    display: flex;
}

ul > li > a {
    padding: 20px;
    text-decoration: none;
    color: white;
}


.hero-rectangle {
    position: absolute;
    width: 1440px;
    height: 1024px;
    left: 0px;
    top: 0px;
    background: #4C0027;
}