body {
    margin: 40px 40px;
    padding: 10px 20px;
    max-width: 650px;
    line-height: 1.6;
}

ul {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    list-style-type: none;
    display: flex;
}

ul > li {
    flex: auto;
}

ul > li > a {
    text-decoration: none;
}

.hero-subheader {
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: normal;
    display: flex;
    font-size: 48px;
}

.hero-container {
    display: flex;
}

.hero-header {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 48px;
    font-style: normal;
}

img {
    width: 400px;
    height: 400px;
}